
*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  text-align: center;
  color:midnightblue;

}
body{
  background-color:aquamarine;
  position:sticky;
  margin-top: 5cm;
}

  input {
    width: 500px;
    height: 25px;
   }
   div {
    border-style:ridge;
    border-color: black;
    border-width:0.1pt;
   }
